body { display:flex; justify-content:center; align-items:center; height:100vh; }

.heading { position:relative; width:270px; font-size:20px; text-align:center; }
.heading::before { content:"{"; position:absolute; left:0; top:0; font-size:50px; color:#ddd; }
.heading::after { content:"}"; position:absolute; right:0; top:0; font-size:50px; color:#ddd; }
.heading span { display:block; margin-bottom:10px; font-size:16px; font-weight:400; }
.heading span::before { content:"⭐"; display:inline-block; margin-right:5px; animation: star 0.7s linear infinite; }
.heading em { color:cornflowerblue; font-style:normal; }

@keyframes star {
    0%, 100% { transform:scale(0.7); }
    50% { transform:scale(1.2); }
}