body { margin:0; line-height:1.5; }

.welcome { position:relative; height:100vh; background-color:#333; }

.mouse { position:absolute; left:50%; transform:translateX(-50%); bottom:20px; }
.mouse .wheele { position:relative; margin:0 auto; width:35px; height:50px; border:2px solid #fff; border-radius:35px; font-size:0; }
.mouse .wheele::before { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -90%); display:inline-block; width:4px; height:12px; border-radius:30px; background:#fff; animation: wheele 1.5s linear infinite; }
.mouse span { line-height:2; font-size:14px; color:#fff; }

@keyframes wheele {
	0% {
		margin-top: 0;
	}
	50% {
		margin-top: 10px;
	}
	100% {
		margin-top: 0;
	}
}