<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다크모드 기본형(greeting)</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/lib/reset.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/ui/common.css" />
    <link rel="stylesheet" href="/resources/rehearse/dark.css">

    <script src="/resources/js/lib/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/resources/images/profile.png" alt="로고 이미지">
            </div>
            <nav class="gnb">
                <a href="#none">home</a>
                <a href="#none">about</a>
                <a href="#none">portfolio</a>
                <a href="#none">contact</a>
            </nav>
            <div class="mode"></div>
        </header>
        <section>
            <div class="section-inner">
                <h1>Dear CodingWorks students...</h1>
                <p>
                    It may be unfamiliar and difficult, but I believe that if you endure it well, you will surely
                    receive rewards for your hard work and patience. Choosing a course for the job of web publishing may
                    not be easy, but Teacher Andrew will always support you.
                </p>
            </div>
        </section>
    </div>
    <script>
        $(".mode").click(function(){
            $(".container").toggleClass("dark");
        })
    </script>
</body>

</html>