<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>module</title>
    <link rel="stylesheet" href="../../resources/css/lib/reset.css">

    <!-- <script type="module">
        import a_number from './test/a.js'
        import b_number from './test/b.js'
        console.log('a_number: ', a_number);
        console.log('b_number: ', b_number);
    </script> -->

    <script type="module" src="./module/index.js"></script>
</head>
<body>
</body>
</html>