<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/reset.css">

    <script type="module">
        import a_number from '../../resources/js/test/a.js'
        import b_number from '../../resources/js/test/b.js'
        console.log('a_number: ', a_number);
        console.log('b_number: ', b_number);
    </script>
    <style>
        html,body,main,div,p,span { padding:15px; margin:15px; text-align:center; font-weight:700; cursor:pointer; }
        html { background-color:#eee; }
        body { background-color:#ddd; }
        main { background-color:#ccc; }
        div { background-color:#bbb; }
        p { background-color:#aaa; }
        span { display:block; background-color:#888; }
    </style>
</head>
<body>body 영역
    <main>main 영역
        <div>div 영역
            <p>p 영역
                <span>span 영역</span>
            </p>
        </div>
        <a href="http://naver.com">네이버 이동</a>
    </main>

    <script>
        const $a = document.querySelector('a');
        $a.addEventListener('click', function(event){
            event.preventDefault();
        })

        const $body = document.querySelector('body');
        const $main = document.querySelector('main');
        const $div = document.querySelector('div');
        const $p = document.querySelector('p');
        const $span = document.querySelector('span');

        $span.addEventListener('click', function(){
            console.log('[' + event.eventPhase + '] capturing span 태그');
        }, true);
        $p.addEventListener('click', function(event){
            event.stopPropagation();
            console.log('[' + event.eventPhase + '] capturing p 태그');
        }, true);
        $div.addEventListener('click', function(){
            console.log('[' + event.eventPhase + '] capturing div 태그');
        }, true);
        $main.addEventListener('click', function(){
            console.log('[' + event.eventPhase + '] capturing main 태그');
        }, true);
        $body.addEventListener('click', function(){
            console.log('[' + event.eventPhase + '] capturing body 태그');
        }, true);

        $span.addEventListener('click', function(event){
            event.stopPropagation();
            console.log('[' + event.eventPhase + '] bubbling span 태그');
        }, false);
        $p.addEventListener('click', function(){
            console.log('[' + event.eventPhase + '] bubbling p 태그');
        }, false);
        $div.addEventListener('click', function(){
            console.log('[' + event.eventPhase + '] bubbling div 태그');
        }, false);
        $main.addEventListener('click', function(){
            console.log('[' + event.eventPhase + '] bubbling main 태그');
        }, false);
        $body.addEventListener('click', function(){
            console.log('[' + event.eventPhase + '] bubbling body 태그');
        }, false);
    </script>
</body>
</html>