<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>순수 CSS 선택자 중첩(ex.로그인 폼)</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/lib/reset.css" />
  <link rel="stylesheet" type="text/css" href="/resources/css/ui/common.css" />
  <link rel="stylesheet" href="/resources/rehearse/login.css">
</head>
<body>
    <div class="login style1">
        <h1>member login</h1>
        <p class="login-info">
            This login is Limited to those who have <b>registered as members</b>.
        </p>
        <div class="field-wrap">
            <div class="field">
                <input type="email" placeholder="email here">
                <img src="../../resources/images/rehearse-img/icon-email.svg" alt="이메일 아이콘">
            </div>
            <div class="field">
                <input type="password" placeholder="password here">
                <img src="../../resources/images/rehearse-img/icon-password.svg" alt="패스워드드 아이콘">
            </div>
        </div>
        <div class="status">
            <label>
                <input type="checkbox">
                <em></em>
                <span>save ID</span>
            </label>
            <a href="#none">Forgot password</a>
        </div>
        <button id="bt-login">login</button>
    </div>
</body>
</html>