<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>

    <link rel="stylesheet" type="text/css" href="../../resources/css/lib/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/common.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/ui/pc-1400.css" />

    <script src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script src="../../resources/js/lib/gsap.min.js"></script>
    <script src="../../resources/js/vue.js"></script>
</head>
<body>
    <div id="skipnavi"></div>
    <script>
        $(document).ready(function () {
            $("#skipnavi").load("../INCLUDE/inc_skipnavi.html");
        });
    </script>
    <div></div>
    </div>
    <div class="wrap">
        <!-- s:header -->
        <header id="headerWrap">
            <script>
                $(document).ready(function () {
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </header>
        <!-- //e:header -->
        <!-- s:contentWrap -->
        <div id="contentWrap" class="sub-content">
            <!-- s:contents -->
            <div class="contents">
                <section class="section1">
                    <div class="inner">
                    </div>
                </section>
            </div>
            <!-- //e:contents -->
            <!--s: scrollTop-->
            <button class="btn btn-top" type="button"><span class="ir">탑버튼</span></button>
            <!--//e: scrollTop-->
        </div>
        <!-- //e:contentWrap -->
        <!-- s:footer -->
        <footer class="footer-wrap"></footer>
        <!-- //e:footer -->
    </div>
</body>
</html>
