html,body {
    width:100%;
    height:100%;
    background-color:#ffffff;
}

.wrap {
    display:block;
    width:100%;
    max-width:448px;
    margin:60px auto 0;
    padding:0 20px;
    background-color:#FFFFFF;
}

.todo_wrap {
    border:1px solid #DDDDDD;
    border-radius:12px;
    background-color:#FFFFFF;
    box-shadow:0 0 6px #00000016;
}