:root {
    --primary:#058240;
    --secondary:#FEE3A2;

    --border1:#CCCCCC;
    --border2:#EDEDED;

    --title:#111111;
    --normal:#333333;
    --subtitle:#757575;

    --background1:#FEE3A2;
    --background2:#F3C301;
    --background3:#87C159;

    --font12:0.75rem;
    --font14:0.875rem;
    --font16:1rem;
    --font18:1.125rem;
    --font20:1.25rem;

    --w-light:300;
    --w-regular:400;
    --w-bold:700;
    --w-extrabold:800;
}

/*********************************************************************
나눔스퀘어라운드
*********************************************************************/
@font-face {
    font-family: 'NanumSquareRound';
    src: url('../../font/ttf/NANUMSQUAREROUNDR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('../../font/ttf/NANUMSQUAREROUNDB.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('../../font/ttf/NANUMSQUAREROUNDL.TTF') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('../../font/ttf/NANUMSQUAREROUNDEB.TTF') format('truetype');
    font-weight: 800; /* Extra Bold */
    font-style: normal;
}

.wrap { position:relative; display:block; margin:0; overflow-y:hidden; width:100%; height:100%; min-height:420px;  }
.content-wrap { overflow-y:auto; overflow-x:hidden; margin:0; height:100%; padding-right:20px; padding-left:20px; padding-bottom:150px; margin-top:46px; margin-right:auto; margin-left:auto; }
.subvisual-wrap{ padding:15px 0 50px; }

/*********************************************************************
header-wrap #헤더
*********************************************************************/
.header-wrap { padding:15px 20px; }
.header-wrap .back { position:absolute; top:50%; transform:translateY(-50%); width:24px; height:24px; font-size:0; background:url("../../images/common/ico-arrow-prev-header.png")no-repeat 50%/24px auto; cursor:pointer; }
.header-wrap .title { text-align:center; font-weight:var(--w-extrabold); text-transform:capitalize; }

/*********************************************************************
title #제목
*********************************************************************/
/*---------------------------------------------
text-wrap
---------------------------------------------*/
.text-wrap h2 { font-size:var(--font20); font-weight:var(--w-extrabold);  }
.text-wrap h3 { font-size:var(--font18); }

/*********************************************************************
content #컨텐츠
*********************************************************************/
section .inner { margin-top:45px; }
/*---------------------------------------------
	result-wrap #결과
---------------------------------------------*/
.result-wrap .inner::before { content:""; display:block; margin:0 auto; width:100px; height:84px; background:url("../../images/common/img1.png")no-repeat 50%/100px auto; font-size:0; }