:root {
    --font12:0.75rem;
    --font14:0.875rem;
    --font16:1rem;
    --font18:1.125rem;
    --font20:1.25rem;
    --font22:1.375rem;
    --font24:1.5rem;
    --font28:1.75rem;
    --font32:2rem;
    --font40:2.5rem;
    --font50:3.125rem;
    
    --w-regular:400;
    --w-bold:700;

    --white:#FFFFFF;
    --title:#111111;
    --normal:#333333;
    --inactive:#666666;
    --subtitle:#757575;
    --error:#FF0000;

    --border1:#DDDDDD;
    --border2: #cccccc;
    --border3: #EDEDED;

    --primary:#0F3862;
    --secondary: #056ED6;

    --tag1:#E62348;
    --tag2:#802CE3;

    --background1:#EAEAEA;
    --background2:#F8F8F8;
    --background3:#5474c0;
}

/*********************************************************************
header-wrap #헤더
*********************************************************************/
#headerWrap { background:#8b8f9159; }
.header-wrap { margin:0 auto; padding:20px 30px; max-width:1400px; }
/*---------------------------------------------
	logo
---------------------------------------------*/
.header-wrap .logo { display:inline-block; width:50px; height:50px; }
.header-wrap .logo img { width:100%; height:100%; border-radius:50%; }
/*---------------------------------------------
	nav
---------------------------------------------*/
.header-wrap .nav { display:inline-block; margin-left:25px; }
.header-wrap .nav .menu-wrap li { padding:0 20px; font-size:0; }
.header-wrap .nav .menu-wrap li a { font-size:var(--font16); color:var(--white); }
/*---------------------------------------------
	header scroll
---------------------------------------------*/
#headerWrap.scroll { background:transparent }
/*********************************************************************
content #컨텐츠
*********************************************************************/
section { width:100%; height:100%; }
section > .inner { margin:0 auto; max-width:1400px; width:100%; height:100%; }

/*---------------------------------------------
	section1
---------------------------------------------*/
.section1 { padding-top:90px; width:100%; height:800px; background-color:var(--title); }
.section1 .round-img { position:relative; height:100%; overflow:hidden; }
.section1 .round-img li { font-size:0; }
.section1 .round-img li::before { content:""; position:absolute; display:inline-block; width:100%; height:100%; animation: bounce 3s infinite ease-in-out }
.section1 .round-img li.round1::before { top:75px; left:21px; width:118px; height:118px; background:url("../../images/1400/Ellipse\ 6.png")no-repeat 50%/118px auto; }
.section1 .round-img li.round2::before { bottom:27px; left:90px; width:142px; height:142px; background:url("../../images/1400/Ellipse\ 4.png")no-repeat 50%/142px auto; }
.section1 .round-img li.round3::before { bottom:40%; left:26%; width:202px; height:202px; background:url("../../images/1400/Ellipse\ 5.png")no-repeat 50%/202px auto; }
.section1 .round-img li.round4::before { top:39px; right:230px; width:142px; height:142px; background:url("../../images/1400/Ellipse\ 7.png")no-repeat 50%/142px auto; }
.section1 .round-img li.round5::before { bottom:-90px; right:50px; width:202px; height:202px; background:url("../../images/1400/Ellipse\ 10.png")no-repeat 50%/202px auto; }
.section1 .portfolio { position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); }
.section1 .portfolio img { width:500px; height:66px; }

/* 마우스 휠 */
.mouse { position:absolute; left:50%; transform:translateX(-50%); bottom:35px; }
.mouse .wheele { position:relative; margin:0 auto; width:35px; height:50px; border:2px solid #fff; border-radius:35px; font-size:0; }
.mouse .wheele::before { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -90%); display:inline-block; width:4px; height:12px; border-radius:30px; background:#fff; animation: wheele 1.5s linear infinite; }
.mouse span { line-height:2; font-size:14px; color:#fff; }

/*********************************************************************
    keyframes #키프레임
*********************************************************************/
/*---------------------------------------------
	section1
---------------------------------------------*/
@keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(0.9);
    }
    70% {
      transform: scale(1.05);
    }
}

@keyframes wheele {
	0% {
		margin-top: 0;
	}
	50% {
		margin-top: 10px;
	}
	100% {
		margin-top: 0;
	}
}