/** font: Pretendard **/
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(../../font/otf/Pretendard-Black.otf) format("opentype"), url(../../font/ttf/Pretendard-Black.ttf) format("truetype"), url(./woff2/Pretendard-Black.woff2) format("woff2"), url(./woff/Pretendard-Black.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(../../font/otf/Pretendard-Bold.otf) format("opentype"), url(../../font/ttf/Pretendard-Bold.ttf) format("truetype"), url(./woff2/Pretendard-Bold.woff2) format("woff2"), url(./woff/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(../../font/otf/Pretendard-Medium.otf) format("opentype"), url(../../font/ttf/Pretendard-Medium.ttf) format("truetype"), url(./woff2/Pretendard-Medium.woff2) format("woff2"), url(./woff/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(../../font/otf/Pretendard-Regular.otf) format("opentype"), url(../../font/ttf/Pretendard-Regular.ttf) format("truetype"), url(./woff2/Pretendard-Regular.woff2) format("woff2"), url(./woff/Pretendard-Regular.woff) format("woff");
}
/** reset **/
html {
  overflow-y: auto;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--normal);
  text-align: left;
  background-color: #fff;
}

ul, ol {
  list-style: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  max-height: 1000000px;
  word-break: keep-all;
  word-wrap: break-word;
  outline: none;
}

.wrap {
  position: relative;
  display: block;
  padding-top: 144px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 45px;
  background-color: #FFFFFF;
}

html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address,
canvas, details, figure, figcaption, footer, header, menu, nav, section, article, aside,
form, fieldset, button, select, textarea, input, fieldset, legend, label, a, span, strong, em, address, dfn, small, i, b, ::before, ::after {
  font-family: "NanumGothic", "Noto Sans", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  word-break: break-all;
  word-wrap: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

[tabindex="-1"]:focus-visible {
  outline: 0 !important;
}

ul, ol, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.188rem;
  color: var(--normal);
}

.dp-none {
  display: none;
}

legend, caption {
  width: 0;
  height: 0;
  text-indent: -10000px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: -99999px;
}

a {
  color: var(--normal);
  text-decoration: none;
  background-color: transparent;
}

img, svg {
  vertical-align: middle;
  border-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.line {
  border: 1px solid var(--border2);
  border-radius: 5px;
  background-color: var(--white);
  padding: 10px;
}

.type-spread {
  margin: 0 -20px;
}

.revert-type-spread {
  margin: 0 20px;
}

.essential {
  color: var(--subtitle);
}

.essential::after {
  content: "*";
  color: var(--error);
  padding-left: 3px;
}

.flex {
  display: flex !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt14 {
  margin-top: 14px !important;
}

.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}